/* Custom Reset based off of -- Meyer Reset */
html, body, div, span,
iframe, img, figure, figcaption,
h1, h2, h3, h4, h5, h6, p, a,
blockquote, code, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, input
table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, summary, embed,
footer, header, menu, nav, output, ruby, section,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

html {
  height: 100%;
  box-sizing: border-box; }

body {
  height: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  padding: 4px; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 56px; }

h3 {
  font-size: 48px; }

p,
li {
  font-size: 24px;
  font-weight: 600; }

strong {
  font-size: 24px;
  font-weight: 800; }

.c-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("https://pixabay.com/get/ec3cb20c2af31c22d9584518a3484191e67fe5dc04b015499cf1c178a2e8bd/startup-593327_1920.jpg") no-repeat fixed center; }

.c-hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5); }

.c-hero__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  color: #fff; }
  .c-hero__content-container > h1 {
    width: 100%;
    text-align: center; }
  .c-hero__content-container > img {
    border-radius: 50%; }
