.c-hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 56px);
  background: url('https://res.cloudinary.com/gavmanweb/image/upload/v1490393050/blur-1853305_1920_wrgk0g.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  @include media-query(md) {
    height: 400px;
  }

  @include media-query(sm) {
    height: 320px;
  }

  &::before {
    position: absolute;
    bottom: 16px;
    left: calc(50% - 50px);
    color: $cl-neutral-4;
    content: 'Scroll Down V';
    z-index: 300;
    animation: bounce 10s 2s infinite;

    @include media-query(md) {
      display: none;
    }
  }

}

.c-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($cl-white, 0.8);
  z-index: 100;
}

.c-hero__content-container {
  @include flex-container(center, center, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  color: $cl-neutral-6;
  text-align: center;
  z-index: 200;

  > img {
    width: 60%;
    height: auto;
  }

  > h3 {
    max-width: 800px;
    padding-top: 32px;
  }
}

.c-phone-view {
  position: relative;
  width: 360px;
  padding: 64px 16px;
  //iphone gold color
  //scss-lint:disable ColorVariable
  border: 4px solid $cl-green;
  border-radius: 24px;
  background-color: $cl-white;

  @include media-query(md) {
    margin-top: 34px;
  }

  @include media-query(sm) {
    display: none;
  }

  &::before {
    position: absolute;
    top: 32px;
    left: 136px;
    width: 80px;
    height: 8px;
    border-radius: 12px;
    background-color: $cl-neutral-3;
    content: '';
  }

  &::after {
    position: absolute;
    bottom: 8px;
    left: 148px;
    width: 56px;
    height: 56px;
    border: 2px solid $cl-green;
    border-radius: 50%;
    background-color: $cl-neutral-2;
    content: '';
  }

  //iframe
  //scss-lint:disable SelectorFormat
  > iframe {
    width: 320px;
    height: 568px;
    border: 1px solid $cl-neutral-3;
  }
}

.c-search-form-header {
  width: 100%;
  padding-top: 24px;

  @include media-query(sm) {
    display: none;
  }
}

.c-search-form {
  @include flex-container($flex-wrap: nowrap);
  width: 100%;
  padding-top: 16px;

  @include media-query(sm) {
    display: none;
  }

  > input {
    @include flex-item(400px, 0);
    padding: 16px 8px 8px;
    border: 4px solid $cl-green;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    outline: 0;
    font-size: 18px;
  }

  > button {
    padding: 16px;
    transition: background-color 0.3s;
    border: 0;
    border-radius: 0 4px 4px 0;
    outline: 0;
    background-color: $cl-green;
    color: $cl-white;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: darken($cl-green, 5%);
    }
  }
}

.c-email-img-container {
  @include flex-item(100%);
  @include flex-container(center, center, center);

  > h2 {
    width: 100%;
    padding-top: 8px;
    text-align: center;
  }

  > img {
    width: 200px;
  }
}

.c-footer {
  @include flex-container();
  padding: 80px 5%;
  background-color: $cl-neutral-6;
  color: $cl-white;

  @include media-query(md) {
    padding: 24px;
  }
}

.c-contact-form {
  @include flex-item(600px, 0);
  @include flex-container(center, center);
  padding: 16px;

  @include media-query(sm) {
    padding: 0;
  }

  > input,
  textarea,
  button {
    @include flex-item(100%);
  }

  > input {
    padding: 16px;
    border: 4px solid $cl-green;
    border-radius: 4px 4px 0 0;
    outline: 0;
    font-size: 18px;
  }

  > textarea {
    height: 200px;
    padding: 8px;
    border-top: 0;
    border-right: 4px solid $cl-green;
    border-bottom: 0;
    border-left: 4px solid $cl-green;
    outline: 0;
    font-size: 18px;
  }

  > button {
    padding: 16px;
    transition: background-color 0.3s, border-color 0.3s;
    border: 4px solid $cl-green;
    border-radius: 0 0 4px 4px;
    outline: 0;
    background-color: $cl-green;
    color: $cl-white;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      border-color: darken($cl-green, 5%);
      background-color: darken($cl-green, 5%);
    }
  }
}
