.c-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('https://pixabay.com/get/ec3cb20c2af31c22d9584518a3484191e67fe5dc04b015499cf1c178a2e8bd/startup-593327_1920.jpg') no-repeat fixed center;
}

.c-hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#333, 0.5);
}

.c-hero__content-container {
  @include flex-container(center, center);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  color: #fff;

  > h1 {
    width: 100%;
    text-align: center;
  }

  > img {
    border-radius: 50%;
  }
}
