//Main Colors
$cl-white: #fff;
$cl-black: #000;
$cl-blue: #4389a2;
$cl-purple: #5c258d;
$cl-teal: #0fb8b8;
$cl-green: #2cac82;
$cl-gold: #d5bba4;
$cl-link: #0094ff;

//Neutrals
$cl-neutral-0: #fafdff;
$cl-neutral-1: #eef2f5;
$cl-neutral-2: #dfe3e7;
$cl-neutral-3: #bec1c5;
$cl-neutral-4: #8a9097;
$cl-neutral-5: #4d5661;
$cl-neutral-6: #2c3138;
