
$cl-white: #fff;
$cl-black: #000;
$cl-white--transparent: rgba(255, 255, 255, 0);
$cl-black--transparent: rgba(0, 0, 0, 0);


//Primary
$cl-primary-1: #fff;
$cl-primary-2: #00cbff;
$cl-primary-3: #084684;

//Secondary
$cl-secondary-1: #b8edff;
$cl-secondary-2: #0091ea;

//Neutral
$cl-neutral-0: #fafdff;
$cl-neutral-1: #eef2f5;
$cl-neutral-2: #dfe3e7;
$cl-neutral-3: #bec1c5;
$cl-neutral-4: #8a9097;
$cl-neutral-5: #4d5661;
$cl-neutral-6: #2c3138;
$cl-neutral-7: #2e303f;

//Accents
$cl-accent-1: #2ab644;
$cl-accent-2: #87e082;
$cl-accent-3: #ff9a16;
$cl-accent-4: #ffec82;
$cl-accent-5: #ff4e70;
$cl-accent-6: #9e66ff;
$cl-accent-7: #403549;

//Statuses
$cl-good: #00bb7b;
$cl-semi-good: #81eaac;
$cl-fair: #ffc709;
$cl-semi-poor: #f9a000;
$cl-poor: #ed193f;

$cl-success: $cl-good;
$cl-error: $cl-poor;
$cl-warning: #f9a000;

//Use Specific
$cl-pagebg: $cl-neutral-1;
$cl-border: $cl-neutral-2;
$cl-hyperlink: #005cff;

$cl-fit-blue: #4389a2;
$cl-fit-purple: #5c258d;
