.c-fit-form-page {
  @include flex-item(100%);
  @include flex-container(center, center, center);
  min-height: 100vh;
  padding: 32px 20%;
  background: linear-gradient(to left, $cl-fit-purple , $cl-fit-blue);

  > h1 {
    width: 100%;
    padding-bottom: 24px;
    color: $cl-white;
    text-align: center;
  }

  @include media-query(md) {
    padding-right: 24px;
    padding-left: 24px;
  }

  @include media-query(sm) {
    align-content: flex-start;
  }
}

.c-fit-form-page__spacer {
  flex-basis: 100%;
  padding: 16px;
  text-align: center;
}

.c-fit-form {
  position: relative;
  @include flex-item(200px, 1, 800px);
  @include flex-container(center);
  padding: 8px;
  border: 2px solid $cl-white;
  border-radius: 4px;
  color: $cl-white;

  a {
    color: $cl-white;
    text-decoration: underline;
  }

  > input,
  select {
    @include flex-item(360px, 1);
    margin: 16px;
    padding: 8px;
    border: 1px solid $cl-white;
    border-radius: 4px;
    outline: 0;
    font-size: 18px;
  }

  > input {
    border: 0;
    border-bottom: 2px solid $cl-white;
    border-radius: 0;
    outline: 0;
    background: transparent;
    color: $cl-white;
    //This sets the autofil color for when google autofills the inputs
    //scss-lint:disable VendorPrefix, ColorVariable, ImportantRule
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px #505497 inset;
      -webkit-text-fill-color: $cl-white !important;
    }
  }

  > select {
    color: $cl-neutral-6;
  }

  > h1 {
    flex-basis: 100%;
  }

  &.hidden {
    display: none;
  }
}

.c-fit-form.c-fit-form--full-width-input {
  > input,
  select {
    flex-basis: 100%;
  }
}

.c-fit-form__btn {
  @include flex-item(100%);
  @include flex-container(center);
}

.c-fit-form__cancel {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: color 0.3s;
  color: $cl-white;
  font-size: 40px;
  cursor: pointer;

  &:hover {
    color: $cl-neutral-3;
  }
}

.c-fit-form__file-upload {
  position: relative;
  flex-basis: 100%;
  margin: 16px;
  padding: 8px;
  transition: background-color 0.3s;
  border: 2px solid $cl-white;
  border-radius: 4px;
  text-align: center;

  &:hover {
    background-color: rgba($cl-white, 0.1);
  }

  > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }

  > label {
    font-size: 24px;
  }

}
