.c-fit-navbar {
  @include flex-container(space-between, center, $wrap: nowrap);
  width: 100%;
  padding: 16px 24px;
  background-color: $cl-neutral-6;
  box-shadow: 0 0 8px  $cl-neutral-6;
}

.c-fit-navbar__logo {
  @include flex-container($wrap: nowrap, $align-items: flex-end);
  width: 192px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
  }

  > h3 {
    padding-bottom: 4px;
    padding-left: 4px;
    color: $cl-fit-blue;
    font-style: italic;
  }
}


.c-fit-navbar__navigation {
  @include flex-item(280px, 1);
  @include flex-container(flex-end, center, $wrap: nowrap);

  a {
    padding-left: 16px;
    color: $cl-white;

    &:hover {
      color: $cl-fit-blue;
    }
  }

  @include media-query(sm) {
    display: none;
  }
}


.c-fit-select {
  position: relative;

  > button {
    margin: 0;
  }
}

.c-fit-select__options {
  display: none;
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  border: 1px solid $cl-white;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  color: $cl-white;
  cursor: pointer;
  overflow: hidden;

  > p {
    width: 100%;
    padding: 4px 16px;
    transition: background-color 0.2s;
    background-color: $cl-neutral-6;

    &:hover {
      background-color: $cl-neutral-5;
    }
  }
}

.c-fit-select__options.is-open {
  display: block;
}
